:root {
  --primary_color: #daa520;
  --secondary_color: #ccb579;
}

.container p {
  text-align: justify;
  font-size: 25px;
  font-family: "Roboto Slab";
  padding: 20px 10px 20px 10px;
}

#slideshow {
  background-image: url(../img/slides/img16.jpg);
  transition: all 0.2s;
  opacity: 1;
  width: 100%;
  height: 20vw;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-style {
  opacity: 50%;
  padding: 15px;
}
