.heading {
    align-items: center;
}



.recommendation {
    display: flex;
    flex-direction:column;
    justify-content: left;
    flex-flow: wrap;

}

.secondrecommendation {
    display: flex;
    flex-direction:column;
    justify-content: left;
    flex-flow: wrap;
}

.chickenrice {

    width: 200px;
    height: 300px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    left: 0px;

}

.chickenfriedrice {
    width: 200px;
    height: 300px;
    object-fit:cover;
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;

}

.container{
    position: relative;
    width: 200px;
    height: 300px;
    display: inline-block;

}

.container:hover .overlay {
    opacity: 1;
}
.container:hover .overlayLEFT {
    width: 100%;
}

.overlay {
    position: absolute;
    transition: all .3s ease;
    opacity: 0;
    background-color: #eee;
}
   
.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
}

.overlayLEFT {
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    background: linear-gradient(to right,#ffd000,#ff004c)
    

}


.noodlesalad {
    width: 200px;
    height: 300px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    left: 0px;
   
}

.roastpork {
    width: 200px;
    height: 300px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    left: 0px;

}


.summerduck {
    width: 200px;
    height: 300px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    left: 0px;
}

.cocktail {
    width: 200px;
    height: 300px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    left: 0px;
}

.sushi {
    width: 200px;
    height: 300px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    left: 0px;
}

.icecream {
    width: 200px;
    height: 300px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    left: 0px;
}