
.a {
  background-color: rgb(255, 255, 255);
  font-family: 'Montserrat';
  display: flex;
  flex-direction: row;
  
}

.c {
   font-style: italic;
   position: fixed;
   text-align: center;
   background: linear-gradient(-45deg, #EE7752, #E73C7E, #23a6d5, #23d5ab ) ;
   color: white;
   bottom: 0;
   width: 100%;
}

.d {
   float: right;
   padding: 32px;
   font-family: 'Montserrat';
   top: 1000px;
   }

.h {
   padding: 32px;
}

.i {
   padding: 32px;
}

.b {
   padding: 32px;
}

.aa {
   font-family: 'Montserrat';
   display: flex;
   flex-direction: row;
}
