:root {
  --primary_color: #daa520;
  --secondary_color: #ccb579;
}

.top_image {
  background-image: url(../img/hotel/23725873.jpg);
  width: 100%;
  height: 35vw;
  padding-top: 3.5cm;
  background-size: cover;
  background-position: center;
}

.container {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.445) 0 8px 8px;
  margin-top: -5vw;
}

.col_2 {
  display: grid;
  margin: 16px 0;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  background-color: white;
}

.floating {
  box-shadow: rgba(0, 0, 0, 0.267) 0 4px 8px;
  transition: all 0.3s;
}

.floating:hover {
  transform: translateY(-4px);
  box-shadow: rgba(0, 0, 0, 0.267) 0 8px 8px;
}

.hr {
  width: 100%;
  height: 1px;
  background-color: grey;
  margin: 32px 0;
}

.main__title {
  text-align: left;
  font-size: 2.7rem;
  margin-bottom: 8px;
  color: var(--primary_color);
}

.main__description {
  text-align: left;
  margin-bottom: 16px;
  color: var(--secondary_color);
  font-size: 1.2rem;
}

.main__content {
  text-align: left;
  font-family: "Roboto Slab";
}

.sub__container {
  margin: 32px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Roboto Slab";
}

.sub--right {
  text-align: right;
}

.sub--left {
  text-align: left;
}

.sub--80 {
  width: 80%;
}

.sub__title {
  margin-bottom: 8px;
  color: var(--primary_color);
  font-family: "Times New Roman", Times, serif;
}

.sub__content {
  transition: all 0.2s;
}

.sub__image {
  width: 100%;
  height: auto;
}

.button {
  padding: 16px 32px;
  width: 150px;
  margin: auto;
  font-size: 1.2em;
}

.heading {
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin: 48px 0 32px 0;
  color: var(--primary_color);
  font-family: "Times New Roman", Times, serif;
}

.heading::after,
.heading::before {
  content: "";
  flex: 1 1;
  width: 90%;
  margin: 0 5%;
  height: 2px;
  background: var(--secondary_color);
}

.rooms_holder {
  height: 400px;
  display: grid;
  grid-template-columns: 5fr 3fr;
  position: relative;
}

.rooms_btn {
  top: calc(50% - 40px);
  position: absolute;
  width: 32px;
  border: none;
  opacity: 0.8;
  height: 64px;
  transition: all 0.2s;
  outline: none;
}

.rooms_btn:hover {
  opacity: 1;
}

.rooms_btn:active {
  transform: scale(0.9);
}

.rooms_btn--left {
  left: 8px;
}

.rooms_btn--right {
  right: 8px;
}

.room_img {
  transition: all 0.2s;
  background-size: cover;
  background-position: center center;
  background-image: url("../img/rooms/room_4.jpg");
}

.book_now_btn {
  font-family: "Times New Roman", Times, serif;
  margin-top: 16px;
  width: 144px;
  height: 42px;
  background-color: var(--accent_color);
  border: none;
  font-size: 1rem;
  color: white;
  transition: all 0.3s;
  outline: none;
}

.book_now_btn:hover {
  background-color: var(--secondary_color);
}

.book_now_btn:active {
  background-color: var(--primary_color);
}

@media only screen and (max-width: 900px) {
  .col_2 {
    grid-template-columns: 1fr;
    grid-template-areas: "content" "image";
  }

  .rooms_holder {
    height: 600px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: "image" "content";
    position: relative;
  }

  .sub--left {
    text-align: center;
  }

  .sub--80 {
    width: 100%;
  }

  .sub__content {
    grid-area: content;
  }

  .sub__image {
    grid-area: image;
    margin-bottom: 32px;
  }

  .sub__container {
    text-align: center;
  }
}
