.top_image {
  background-image: url(../img/hotel/23725873.jpg);
  width: 100%;
  height: 35vw;
  background-size: cover;
  background-position: center;
}

.container {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.445) 0 8px 8px;
  margin-top: -5vw;
}

.main__title {
  text-align: left;
  font-size: 2.7rem;
  margin-bottom: 8px;
  font-family: "Roboto Slab";
}

.main__content {
  text-align: left;
  font-family: "Roboto Slab";
}
